@using Volo.Abp.Identity

<RadzenTemplateForm TItem="IdentityRoleCreateDto" Data=@model Submit=@DialogFromOption.OnSubmit InvalidSubmit=@OnInvalidSubmit>
    <RadzenStack Gap="2rem" class="rz-p-4 rz-p-md-12">
        <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
            <RadzenColumn Size="12" SizeMD="4" class="rz-text-align-start rz-text-align-md-end">
                <RadzenBadge Text="*" BadgeStyle="BadgeStyle.Danger" />
                <RadzenLabel Text="角色名称" Component="Name" />
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="8">
                <RadzenTextBox Name="Name" @bind-Value=@model.Name Style="display: block; width: 100%;" MaxLength="IdentityRoleConsts.MaxNameLength" />
                <RadzenRequiredValidator Component="Name" Text="RoleName is required" Style="position: absolute" />
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
            <RadzenColumn Size="12" SizeMD="4" class="rz-text-align-start rz-text-align-md-end">
                <RadzenLabel Text="默认" Component="IsDefault" />
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="8">
                <RadzenCheckBox TValue="bool" @bind-Value=@model.IsDefault Name="IsDefault" />
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
            <RadzenColumn Size="12" SizeMD="4" class="rz-text-align-start rz-text-align-md-end">
                <RadzenLabel Text="公开" Component="IsPublic" />
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="8">
                <RadzenCheckBox TValue="bool" @bind-Value=@model.IsPublic Name="IsPublic" />
            </RadzenColumn>
        </RadzenRow>
    </RadzenStack>
    <div class="dialog-footer">
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Right">
            <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="保存"></RadzenButton>
            <RadzenButton Icon="cancel" Click="DialogFromOption.OnCancel" Text="取消" ButtonStyle="ButtonStyle.Light" />
        </RadzenStack>
    </div>
</RadzenTemplateForm>

@code {
    [Parameter]
    public DialogFromOption<IdentityRoleCreateDto> DialogFromOption { get; set; } = default!;

    IdentityRoleCreateDto model = new();

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {
    }
}
